{% extends "_layout.html" %}
{% block content %}

<h1>Events</h1>

{% for event in events %}
<div class="container">

    <div>
        {{event.event_name}}
    </div>
    <div>
        {{event.description}}
    </div>
    <div>
        {{event.location}}
    </div>
    <div>
        {{event.date}}
    </div>
    <div>
        {{event.time}}
    </div>
    <div>
        {{event.establishment.name}}
    </div>
    <br>
    ///
    <!-- <a href="{{url_for('events.delete', event.id)}}">Delete.</a> -->
    ///
</div>
<hr>
{% endfor %}


{% endblock %}