{% macro navbar() %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        ? blood donation page ???
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if not current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                {% endif %}

                {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('events.show') }}">News
                    Feed
                    <span class="sr-only">(current)</span></a>
                {% endif %}
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Account
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not current_user.is_authenticated %}
                    <a class="dropdown-item" href="{{ url_for('sessions.new') }}">Login</a>
                    <a class="dropdown-item" href="{{ url_for('employees.new') }}">SignUp</a>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{{ url_for('establishments.new_establishment') }}">Establishment</a>

                    <a class="dropdown-item" href="{{ url_for('events.new') }}">Event</a>

                    <a class="dropdown-item" href="{{ url_for('establishments.new_blood_inventory') }}">Blood
                        Inventory</a>

                    <a class="dropdown-item" href="{{ url_for('sessions.logout') }}">Logout</a>

                    {% endif %}
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ignore</a>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
</nav>

{% endmacro %}