{% extends '_layout.html' %}
{% block content %}

<h1>SignUp</h1>

<form action="{{ url_for('employees.create') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        <label>Email:</label>
        <input type='email' name='email' class="form-control" />
    </div>

    <div class="form-group">
        <label>Username:</label>
        <input type='text' name='username' class="form-control" />
    </div>

    <div class="form-group">
        <label>Password:</label>
        <input type='password' name='password' class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>
<a href="{{ url_for('home') }}">Homepage</a>
/
<a href="{{ url_for('sessions.new') }}">Login</a>

{% endblock %}